name: release
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: mbstring, dom, fileinfo

      - name: Check folder
        id: check-folder
        run: cd ../; ls -ltra

      # - name: Get composer cache directory
      #   id: composer-cache
      #   run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      # - name: Install Composer depedencies
      #   run: cd ../ && composer install --no-progress --prefer-dist --optimize-autoloader

      # - name: Test with phpunit
      #   run: vendor/bin/phpunit
        
  release-on-push:
    runs-on: ubuntu-latest
    needs:
      - test
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: rymndhng/release-on-push-action@master
        with:
          bump_version_scheme: minor